<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="error-page-container">
        <div class="error-content">
          <h1 class="error-title">404</h1>
          <p class="error-message">Oops! The page you're looking for doesn't exist.</p>
          <a href="/" class="return-home-button">Return to Home</a>
          <div class="search-bar-container">
            <input type="text" class="search-bar" placeholder="Search for content...">
            <button class="search-button">Search</button>
          </div>
        </div>
      </div>
      
</body>
</html>