<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <!-- Signup Form -->
  <div class="form-container">
    <h2 class="form-title">Signup</h2>
    <div class="err-massage"></div>
    <form>
      <div class="input-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="input-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="form-button">Signup</button>
      <div class="form-footer">
        <a href="/auth/login">Already have an account? Login</a>
      </div>
    </form>
  </div>
  

  <script src="/script/signup.js"></script>
</body>
</html>