<nav class="navbar">
  <div class="navbar-container">
    <a href="/user/" class="navbar-brand">Study Scheduler</a>
    <button class="navbar-toggler">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <div class="navbar-right">
      <a href="/user/" class="navbar-link" title="Dashboard">
        <span class="material-symbols-outlined">grid_view</span>
      </a>
      <a href="profile.html" class="navbar-link" title="Profile">
        <span class="material-symbols-outlined">account_circle</span>
      </a>
      <div class="navbar-link settings" title="Settings">
        <span class="material-symbols-outlined">settings</span>
      </div>
      <div class="navbar-link notification" title="notifications">
        <span class="material-symbols-outlined">notifications</span>
      </div>
      <!-- <img src="user.jpg" alt="User Picture" class="user-picture"> -->
      <div class="dropdown">
        <button class="dropdown-button">Quick Actions</button>
        <div class="dropdown-content">
          <a href="/user/create-shedule">Create New Schedule</a>
          <a href="/user/progress">Progress</a>
        </div>
      </div>
      <a href="/auth/logout" class="logout-button">Logout</a>
    </div>
  </div>
</nav>

<script>
  const navbarToggler = document.querySelector('.navbar-toggler');
  const navbarRight = document.querySelector('.navbar-right');

  navbarToggler.addEventListener('click', () => {
    navbarRight.classList.toggle('active');
  });
</script>
