<header class="admin-navbar">
    <div class="admin-logo">User Management</div>
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="admin-profile">
      <ul class="nav-menu" id="nav-menu">
        <li><a href="#" id="viewAdminProfile">Profile</a></li>
        <li><a href="#" class="create-admin">Create Admin</a></li>
        <button class="admin-logout-button">Logout</button>
      </ul>
      
    </div>
  </header>